@media screen and (max-width: 768px) {
    .home_section_div{
        text-align: center;
        padding: 1rem;
        margin: 0 auto 1rem auto;
    }
    .home_section_img{
        border-radius: 50%;
        width: 60%;
    }
    .home_section__text{
        margin: auto 0;
        text-align: center;
        padding: 1rem;
        align-self: center;
    }
    #Home{
        margin-top: 6rem;
    }

    .about_section_intro{
        text-align: center;
        /* padding: auto auto; */
        padding-left: 1.5rem;
      }

    .carousel_img{
    width: 70%;
    padding: 1rem .5rem;
    }
    .contact_section{
        height: 150px;
      }
}